# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

data = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [8]:
data["item_price"]=data["item_price"].str.replace("$","",regex=False).astype(float)
data["item_price" > 10 ][["item_name"]]

AttributeError: Can only use .str accessor with string values!

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
data.groupby("item_price").sum()[["item_name"]]

                                                    item_name
item_price
1.09        Canned SodaBottled WaterCanned SodaBottled Wat...
1.25        Canned Soft DrinkCanned Soft DrinkCanned Soft ...
1.50        Bottled WaterBottled WaterBottled WaterBottled...
1.69        Side of ChipsSide of ChipsSide of ChipsSide of...
1.99                                                    Chips
...                                                       ...
32.94                                            Chicken Bowl
33.75                                          Veggie Burrito
35.00                          Chicken BurritoChicken Burrito
35.25                                           Carnitas Bowl
44.25                            Chips and Fresh Tomato Salsa

[78 rows x 1 columns]

### Step 6. Sort by the name of the item

In [16]:
data.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [21]:
data.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [23]:
len(data[data["item_name"]== "Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [25]:
len(data[(data.item_name== "Canned Soda" )& (data.quantity > 1)])

20

In [6]:
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75